*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    font-size: 25px;
    color: #ecf0da;
    font-family: cursive, sans-serif;
}
h1 span {
    position: relative;
}
.container-btns {
    position: relative;
    top: 50px;
}
.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
    font-family: cursive, sans-serif;

}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.lignesDeco {
    position: absolute;
    top: 90px;
    left: 5%;
}
.ligne1Deco {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.ligne2Deco {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}


.socialNetworks {
    list-style-type: none;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bulleSocialNetworks {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-socialNetworks {
    width: 40px;
    height: 40px;
}



/* DEBUT partie navbar menu navigation */

nav {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    position: fixed;
    z-index: 1;

}

nav a{
    text-decoration: none;
}
.liste-nav {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.item {
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding: 3px 10px 0px 10px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background: #000;
    margin: -15px auto 0 auto;
    transition: width 0.2s ease-in-out;
}
.item:hover::after {
    width: 100%;
}

/* Btn responsive */

.btn-responsive-menu {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    /* background: #000; */
    display: none;
    cursor: pointer;
}
.lignesNav {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #333;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.lignesNav:nth-child(1) {
    top: 0px;
}
.lignesNav:nth-child(2) {
    top: 10px;
}
.lignesNav:nth-child(3) {
    top: 20px;
}

.btn-responsive-menu.active .lignesNav:nth-child(1) {
    top: 12px;
    transform: rotate(135deg)
}
.btn-responsive-menu.active .lignesNav:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}
.btn-responsive-menu.active .lignesNav:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg)
}

@media screen and (max-width: 700px) {

    .btn-responsive-menu {
        display: block;
    }
    .item::after {
        display: none;
    }
    .liste-nav {
        top: -425px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .liste-nav .item {
        width: 100%;
        height: 50px;
        background: #f1f1f1;
        color: #333;
        margin-top: -1px;
    }
    .liste-nav.active-menu {
        top: 50px;
    }
}
/* FIN partie navbar menu navigation */
