* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Raleway", sans-serif;
  width: auto;
  margin: 3%;
  font-size: 13px;
  height: 100vh;
}




a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
  position: relative;
  top: 0;
  background-color: #d4e2f7;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 25px;
  font-weight: 500;
}
nav a:hover {
  border-top: 3px solid #6198ea;
  padding-top: 1%;
  color: #0065fc;
  transform: scale(2, 0.5);
}

nav a:visited {
  text-decoration: none;
}

.connexion {
  color: #0065fc;
  font-weight: bold;
}
.connexion:hover {
  border-top: none;
}








/*body */
main {
  height: 100%;
  background-color: #e9edf467;
}

.titlePage{
  top: 0%;
  margin-left: 1%;
  padding: 1%
}

#grandeCartes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0%;
  align-items: center;
}

.petiteCarte{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  margin: 1%;
  height: 7%;
  width: 45%;
}

.petiteCarte:hover {
  transform: scale(1.019);
  border: 1px solid rgb(234, 187, 187);
}

.petiteCarte img {
border: 1px solid red;
  width: 100%; 
  border-radius: 3%;
}

.petiteCarte h3 {
  font-size: 1rem;
  text-align: center;
  padding-top: 100%;
}

.grandes{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.image{
  flex: 1 1 120px;
  aspect-ratio: 1 / 1;
}

.content{
  flex: 1 1 200px;
}







/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100px;
  height: 15vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* fait 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}









/* Page Crypto */
.cryptoNom{
  text-align: center;
  padding: 7%;
}

.cryptoQuantite{
  text-align: center;
  padding: 13%;
}









/* footer */
footer {
  width: 100%;
  background-color: #edc5c580;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 10%;
  align-items: center;
}

footer section {
  padding: 10px 10px;
  width: 30%;
}

footer section h2 {
  margin-bottom: 3%;
  font-size: 1.2rem;
}

footer section p {
  margin-top: 5%;
  cursor: pointer;
  width: fit-content;
}

footer section p:hover {
  border-bottom: 1px solid black;
}
































/* mobiles */
@media screen and (max-width: 600px) {
 
  .grandecarte {
    height: 190px;
    padding-bottom: 55%;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

}















/* mobiles */
@media screen and (max-width: 400px) {
  header {
    width: fit-content;
  }
  
  nav {
    flex-direction: column;
  }
  header nav {
    flex-direction: column;
  }

  header nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: unset;
    padding-top: 0;
  }

  
  
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
 
}