* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Raleway", sans-serif;
  width: auto;
  margin: 3%;
  font-size: 13px;
  height: 100vh;
}




a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
  position: relative;
  top: 0;
  background-color: #d4e2f7;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 25px;
  font-weight: 500;
}
nav a:hover {
  border-top: 3px solid #6198ea;
  padding-top: 1%;
  color: #0065fc;
  transform: scale(2, 0.5);
}

nav a:visited {
  text-decoration: none;
}

.connexion {
  color: #0065fc;
  font-weight: bold;
}
.connexion:hover {
  border-top: none;
}








/*body */
main {
  height: 100%;
  background-color: #e9edf467;
}

.titlePage{
  top: 0%;
  margin-left: 1%;
  padding: 1%
}

#grandeCartes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0%;
  align-items: center;
}

.petiteCarte{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  margin: 1%;
  height: 7%;
  width: 45%;
}

.petiteCarte:hover {
  transform: scale(1.019);
  border: 1px solid rgb(234, 187, 187);
}

.petiteCarte img {
border: 1px solid red;
  width: 100%; 
  border-radius: 3%;
}

.petiteCarte h3 {
  font-size: 1rem;
  text-align: center;
  padding-top: 100%;
}

.grandes{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.image{
  flex: 1 1 120px;
  aspect-ratio: 1 / 1;
}

.content{
  flex: 1 1 200px;
}





/*PETITE - SMALL card */
.scene {
  display: inline-block;
  width: 23vh;
  height: 7vw;
/*   border: 1px solid #CCC; */
  perspective: 600px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}




/* GRANDE - BIG card */

.sceneBIG {
  display: inline-block;
  width: 23vh;
  height: 7vw;
/*   border: 1px solid #CCC; */
  perspective: 600px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
}

.cardBIG {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__faceBIG {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  backface-visibility: hidden;
}

.card__face--frontBIG {
  background: crimson;
  
}

.card__face--backBIG {
  background: rgb(98, 205, 90);
  transform: rotateY(180deg);
  display: flex;
  position: relative;
  margin: 10%;

}










/* Page Crypto */
.cryptoNom{
  text-align: center;
  padding: 7%;
}

.cryptoQuantite{
  text-align: center;
  padding: 13%;
}









/* footer */
footer {
  width: 100%;
  background-color: #edc5c580;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 10%;
  align-items: center;
}

footer section {
  padding: 10px 10px;
  width: 30%;
}

footer section h2 {
  margin-bottom: 3%;
  font-size: 1.2rem;
}

footer section p {
  margin-top: 5%;
  cursor: pointer;
  width: fit-content;
}

footer section p:hover {
  border-bottom: 1px solid black;
}
































/* mobiles */
@media screen and (max-width: 600px) {
 
  .grandecarte {
    height: 190px;
    padding-bottom: 55%;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

}















/* mobiles */
@media screen and (max-width: 400px) {
  header {
    width: fit-content;
  }
  
  nav {
    flex-direction: column;
  }
  header nav {
    flex-direction: column;
  }

  header nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: unset;
    padding-top: 0;
  }

  
  
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
 
}