
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: sans-serif;
  width: auto;
  margin: 3%;
  font-size: 13px;
  height: 100vh;
  background-color: red;
}







a {
  text-decoration: none;
  color: black;
}



header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0%;
  margin: 1%;
  position: relative;
  top: 0;

}

nav a {
  text-decoration: none;
  color: black;
  padding: 25px;
  font-weight: 500;
}
nav a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 1%;
  color: #0065fc;
  transform: scale(1.019);

}

nav a:visited {
  text-decoration: none;
}

.connexion {
  color: #0065fc;
  font-weight: bold;
}
.connexion:hover {
  border-top: none;
}









/*body */

main {
  height: 100%;
  background-color: #d7dfef67;
}


.titlePage{
  position: static;
  top: 0%;
  border: 1px solid red;
  margin-left: 1%;

}

.grandeCartes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0%;
  border:3px solid rgb(0, 255, 4);
  margin-left: 1%;
}

.petiteCarte{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 1 100px;
  max-height: 17%;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  margin: 1%;
}


.petiteCarte:hover {
  transform: scale(1.019);
}


.petiteCarte img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 100%; 
  height: 100%;
  padding: 15px;
  border:3px solid red;
}


.petiteCarte h3 {
  font-size: 1rem;
  text-align: center;
  padding-top: 100%;
}








.hebergement h2 {
  font-size: 18px;
  width: fit-content;
  margin: 0 0 25px 0;
}

.hebergement h3 {
  font-size: 100%;
  padding-top: 5%;
  color: rgb(0, 0, 0);
}
.hebergement p {
  letter-spacing: 0.1px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
  margin-top: 50px;
}



