
header {
  background-image: url('../assets/header-image.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}



.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(3, 38, 95, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.2s ease;
  height: 11vh;
  transition: 0.5s ease-in-out;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 1);
}

.navbar-scrolled {
  height: 7vh; 
  transition: 0.3s ease;
}


.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-left: 1rem;
  transition: transform 0.3s ease; 
}

.menu li:hover {
  transform: scale(1.2);
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease; 
}

.menu a:hover {
  color: #ffd700;
  font:bold;

}


 /* Ajustez la largeur selon vos besoins */
 /* Ajustez le padding selon vos besoins */



.header-content {
  text-align: center;
  width: 80%;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  opacity: 0; 
  transition: opacity 2s ease-in-out;
}

.header-content.visible {
  opacity: 1; 
}
.header-content h2 {
  color: white;
  margin: 0;
}
.header-content p {
  color: white; 
  font-size: 1.2em; 
  line-height: 1.6em; 
  text-align:center; 
  padding: 15px; 
  margin: 15px 0; 
  background-color: rgba(3, 38, 95, 0.6); 
  border-radius: 5px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  width: 40vw;
}


.hoverable-letter {
  transition: transform 0.3s ease;
}

.hoverable-letter:hover {
  transform: scale(1.5); 
  color: red;
}

.escape-div{
  transition: "transform 0.5s ease-out"
}

.header-small{
  height: 53vh;
}

.noStyle {
  color: inherit;
  text-decoration: none;
}


/* Styles pour les appareils mobiles et tablettes */
@media screen and (max-width: 768px) {
  header {
    height: 30vh;
  }
}