.services {
    padding: 2rem;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    text-align: center;
}

.services h1 {
    color: #333;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.services p {
    color: #666;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.service-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 0 1 calc(50% - 4rem);
    margin: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.service-card h2 {
    color: #333;
    margin-bottom: 1rem;
}

.service-card p {
    color: #666;
}
