footer {
    background-color: #1F2833;
    color: #C5C6C7;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-around;
    align-items: start;
  }
  
  .footer-content {
    margin: 0;
  }
  
  .footer-content h3, .footer-content h4 {
    color: #66FCF1;
    margin-bottom: 10px;
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content ul li {
    margin: 5px 0;
  }
  
  .footer-content ul.socials li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-content ul.socials li a {
    color: #45A29E;
    text-decoration: none;
  }
  
  .footer-content ul li a {
    color: #C5C6C7;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-content ul li a:hover {
    color: #66FC
  }  