footer {
    background-color: #1F2833;
    color: #C5C6C7;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    margin: 0 15px;
  }
  
  .footer-left ul,
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left h4,
  .footer-center h3,
  .footer-right h4 {
    color: #66FCF1;
    margin-bottom: 10px;
  }
  
  .footer-left ul li,
  .footer-right ul li {
    margin: 5px 0;
  }
  
  .footer-right ul.socials li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-left ul li a,
  .footer-right ul li a {
    color: #C5C6C7;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-left ul li a:hover,
  .footer-right ul li a:hover {
    color: #66FCF1;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #C5C6C7;
    margin-top: 20px;
    border-top: 1px solid #C5C6C7;
  }
  